<launch>

<include file="$(find asl_gremlin_pkg)/launch/load_params.launch" />

<node ns="asl_gremlin1" name="test_publish_encoder_ticks" pkg="test_asl_gremlin" type="test_publish_encoder_ticks" output="screen" />

<node ns="asl_gremlin1" name="test_encoder_to_omega" pkg="test_asl_gremlin" type="test_encoder_to_omega" output="screen" />

</launch>
