<launch>

<arg name="robot_name" value="asl_gremlin1" />

<rosparam   ns="$(arg robot_name)"
            command="load" 
            file="$(find asl_gremlin_pkg)/config/rover_parameters.yaml"/>

<!-- Topic Names Parameters-->

                <!-- Trajectory Generation -->
<rosparam param="$(arg robot_name)/trajectory/publisher_topic" subst_value="true">
    /$(arg robot_name)/trajectory_generation/reference_trajectory 
</rosparam>

<rosparam param="$(arg robot_name)/trajectory/waypoint_server_topic" subst_value="true">
    /$(arg robot_name)/trajectory_generation/set_parameters
</rosparam>

                <!-- Controller -->
<rosparam param="$(arg robot_name)/controller/cmd_angular_vel_topic" subst_value="true">
    /$(arg robot_name)/controller/cmd_angular_vel
</rosparam>

<rosparam param="$(arg robot_name)/controller/cmd_pwm_topic" subst_value="true">
    /$(arg robot_name)/controller/cmd_motor_pwm 
</rosparam>

                <!-- State Feedback -->
<rosparam param="$(arg robot_name)/state_feedback/encoder/pose_topic" subst_value="true">
    /$(arg robot_name)/state_feedback/position_from_encoder
</rosparam>

<rosparam param="$(arg robot_name)/state_feedback/encoder/ang_vel_topic" subst_value="true">
    /$(arg robot_name)/state_feedback/encoder/actual_ang_vel
</rosparam>

<rosparam param="$(arg robot_name)/state_feedback/encoder/left_timeStamped_topic" subst_value="true">
    /$(arg robot_name)/state_feedback/encoder_left_timeStamped
</rosparam>

<rosparam param="$(arg robot_name)/state_feedback/encoder/right_timeStamped_topic" subst_value="true">
    /$(arg robot_name)/state_feedback/encoder_right_timeStamped
</rosparam>

<rosparam param="$(arg robot_name)/state_feedback/gps/pose_topic" subst_value="true">
    /$(arg robot_name)/state_feedback/position_from_gps
</rosparam>

<rosparam param="$(arg robot_name)/state_feedback/feedback_selected" subst_value="true">
    /$(arg robot_name)/state_feedback/selected_feedback
</rosparam>

</launch>
