<launch>

<arg name="robot_name" default="asl_gremlin"/>

<rosparam   ns="$(arg robot_name)"
            command="load" 
            file="$(find asl_gremlin_pkg)/config/rover_parameters.yaml"/>

<rosparam   ns="$(arg robot_name)"
            command="load" 
            file="$(find asl_gremlin_pkg)/config/topic_names.yaml"/>

</launch>
